@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 71px;
    overflow-x: hidden;
}

body {
    background-color: #dce0ec;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 300;
    color: #262e56;
    margin: 0;
    overflow: hidden;
}


header {
    /* background-color: #FFF; */
    height: 54px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    color: #FFF;
    position: relative;
    top: 0;
    z-index: 10;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

}

.container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 100%;

}



.auction-information {
    background-color: white;
    margin: 20px 0 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

}

.auction-container {
    background-color: white;
    height: min-content;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

}

.img-container {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    grid-gap: 10px;


}

.img-container img {
    width: 70%;
    height: auto;
    object-fit: contain;
    transition: all 0.33s ease;
    cursor: pointer;
    border-radius: 20px;
}

.img-container img:hover {
    transform: scale(1.2);
}

.item-container {
    display: flex;
    grid-gap: 20px;
    max-width: 1440px;
    padding: 0 20px;
    align-items: center;
}


h1 {
    margin: 0;
    font-size: 30px;
}

h1 span {
    font-weight: 400;

}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 25px;
}

h3,
h2 {
    margin-top: 0;
}

main {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

img {
    height: 180px;
}

.auction-information .infos {
    display: flex;
    margin-bottom: 22px;
}


.info-style {
    display: flex;
    flex-direction: column;
    /* margin: 8px; */
    width: 100%;
}

.info-style span:nth-child(2) {

    font-size: 30px;

}

.info-style span:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    color: #abb3bf;
}


footer {
    background-color: #FFF;
    height: 45px;
    padding: 10px 40px;
    margin-top: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #262e56;
}

button {
    background-color: #267dff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 14px 30px;
    font-weight: 700;
    max-width: 500px;
    margin: 0;
    font-size: 16px;
    transition: all 0.13s ease;
}


.combo-button {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    grid-gap: 20px;
}


/*Timeline Section*/

.purchase-status {
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
}

.timeline {
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;
}

.timeline .icon {
    background: #AAA;
    color: #FFF;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}



.processing {
    background-color: #f9f9f9;
}

.on-transit {
    background-color: #f9f9f9;
}

.delivered {
    background-color: #f9f9f9;
}

.active {
    background-color: #FFF;
}

.active .icon {
    background-color: #267dff;
}



.status {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.date {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

p {
    margin-top: 20px;
    color: #262e56;
}

.tabs .seller-details {
    padding: 0px;
    margin-bottom: 25px;

}

.public-key p {
    color: #777;
    margin: 14px 0 35px;
}

.buyer-details span,
.seller-details span {
    color: #777;
    font-weight: 600;
}

.seller-details h2,
.buyer-details h2 {
    margin-bottom: 20px;
}

.item-details h3 {
    margin-top: 0;
}

.public-key h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.public-key p {
    font-family: monospace;
    font-size: 14px;
}

button,
.send-button,
.receive-button {
    font-family: 'Poppins';
    background-color: #267dff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    min-width: 200px;
    display: block;
}

button:hover,
.send-button:hover,
.receive-button:hover {
    background: rgb(38, 46, 86);
}

.img-details {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #262e56;

}

.img-details #seller-address,
.img-details #highest-bidder-address {
    word-break: break-all;
}

.img-details div {

    margin-bottom: 10px;
    font-size: 14px;

}

.auction-container .status {
    font-weight: 700;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    border-radius: 11px;
    margin: auto;
    margin-bottom: 28px;
    max-width: 500px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.pending {
    background: #feed59;
}

.open {
    background: #90fe59;
}

.closed {
    background: #fe5959;
    color: #FFF;

}

.pending::after {
    content: "NOT YET STARTED";
}

.open::after {
    content: "OPEN";
}

.closed::after {
    content: "CLOSED";
}

.auction-container button {
    width: 100%;
    padding: 14px;
    font-weight: 700;
    max-width: 500px;
    margin: auto;
    display: block;
    font-size: 16px;
}

.auction-container span,
.img-details span {
    margin-bottom: 5px;
    color: #abb3bf;
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.divider {
    height: 1px;
    background: #ccc;
    margin: 20px;
    width: auto;
    display: block;
    position: relative;
}

.auction-container input {
    display: block;
    padding: 14px 20px;
    width: -webkit-fill-available;
    font-size: 16px;
    border: 1px solid #262e56;
    border-radius: 5px;

}


.item-hero {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin: -74px -50vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 0 100px;
    background: rgb(38, 46, 86);
    background: linear-gradient(26deg, rgba(38, 46, 86, 1) 47%, rgba(38, 125, 255, 1) 100%);


}

.tabs {
    flex-direction: column;
}

.tabs label {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    grid-gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #CCC;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.tabs .content {
    overflow: hidden;
    transition: all 0.33s ease;
    max-height: 0;
}

.tabs input {
    display: none;
}

.tabs input:checked~.content {
    max-height: 100vh;
}


.arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent;
    text-indent: -10000px;
    border-top: 2px solid #267dff;
    border-right: 2px solid #267dff;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(45deg);
}

.left {
    transform: rotate(225deg);
}

.tabs input:checked~label .arrow {
    transform: rotate(135deg);
}

.nav-item {
    display: flex;
    grid-gap: 19px;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.nav-item span {
    background: #FFF;
    border-radius: 50px;
    padding: 17px;
    display: flex;
    cursor: pointer;
    transition: all 0.13s ease;
}

.nav-item span:hover {
    background: #267dff;
}

.nav-item span:hover a {
    border-color: #FFF;
}

.auction-time {
    display: flex;
    grid-gap: 16px;
    margin-bottom: 30px;
    flex-direction: column;
}

.auction-time span {
    display: flex;
    grid-gap: 10px;
}

.auction-time input,
textarea {
    display: block;
    padding: 14px 20px;
    width: -webkit-fill-available;
    font-size: 16px;
    border: 1px solid #262e56;
    border-radius: 5px;
}

.info-desc {
    padding: 20px 0;
}

button.set_time {
    background: #FFF;
    border: 2px solid #267dff;
    color: #267dff;
    max-width: min-content;
}

button.set_time:hover {
    color: #FFF;
    background: #262e56;
    border: 2px solid #262e56;
}


@media (max-width: 992px) {
    .auction-container button {
        width: unset;
    }

    .item-container {
        flex-direction: column;
    }

    .img-container,
    .auction-container {
        width: auto;


    }

    button.set_time {
        max-width: 100%;
    }

    .container {
        width: 100%;
    }

    .auction-time input {
        width: 100%;
    }

    .auction-time span {
        flex-wrap: wrap;
    }


}

@media (max-width: 750px) {
    .auction-information .infos {
        flex-wrap: wrap;
    }

}

@media (max-width: 665px) {
    h1 span {
        display: none;
    }

    .img-container {
        flex-direction: column;
    }

    .img-container img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .img-details div {
        font-size: 14px;
        word-break: break-all;
    }

    .transaction-section {
        flex-direction: column;
    }

    .timeline {
        flex-direction: column;
        grid-gap: 20px;
    }

    .timeline div {
        width: auto;
    }

    .auction-information div:nth-child(2) {
        flex-wrap: wrap;
    }

    button,
    .auction-container button,
    .send-button,
    .receive-button {
        width: 100%;

    }

    .auction-time {
        flex-wrap: wrap;
    }


}